/* Фон и цвет текста форума
====================*/
body {
	color: #eee;
	background: #444;
}
body,td {
	font-family: Arial,Verdana,Helvetica,sans serif;
	font-size:10pt;
}


/* Строчки в профиле и строка меню (Админка • Регистрация • ...)
==============================================*/
th {font-size: 12px; font-weight: bold; background: #486f00; white-space: nowrap; padding: 0 3px; text-align: center; height: 22px; border: #111 1px solid;}
.row1 {font-size: 11px; background: #718c00; white-space: nowrap; padding: 0 3px; border: #333 0px solid;}
.row2 {font-size: 11px; background: #697c00; white-space: nowrap; padding: 0 3px; border: #333 0px solid;}


/* Ссылки тем
============*/
a.topic:link {
		font-size: 12px;
		font-family: tahoma;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
}
a.topic:visited {
		font-size: 12px;
		font-family: tahoma;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
}
a.topic:hover {color: #f64b18}


/* Ссылки меню форума 
=================*/
a:link { text-decoration: none; color: #eee;}
a:visited {text-decoration:none; color: #eee;}
a:hover {text-decoration:none; color: #f5871f;}
a:active {text-decoration:underline; color: #f5871f;}


/* Размеры шрифта
==============*/
.norm {font-size: 10pt;}
.med {font-size: 11px;}
.small {font-size: 10px;}


/* Настройки ширины таблиц форума, фона и цвета ячеек и т.д.
============================================*/
table.main {width:95%; font-size:10pt; background: #586f00; border: #718c00 0px solid;}
table.main td {font-size:10pt; background: #697c00; border: red 0px solid;}

table.f {width:95%; background: #586f00;}
table.f td {background: #697c00;}

table.f td.t {font-weight:bold; font-family:tahoma; font-size:12px; height:22px; padding:3 5 3 5; background:#586f00;}

table.f td.name {width:200px; padding-top:2; font-weight:bold; font-family:Tahoma; text-align:center; background: #718c00;}
table.f td.date {width:80%; padding:1 1 1 5; font: bold 10 arial; color: #fff;}
table.f td.up {width:300px; padding:0 5 0 0; font: bold 10 arial; text-align: right;}
table.f td.msg {width:100%; height:120px; padding:5 0 3 5; text-align: left; background:;}

tr.th td {height:22px; text-align:center; font-weight:bold; color: #444; font-family:Tahoma; background: #718c00;}


/* Ссылки (Тема: ...) и (Список тем • Создать тему)
==================================*/
table.f td.t a {text-decoration:underline; color: #fff} 
table.f td.t a:hover {text-decoration:underline;color: #e8791c;}


/* Цитата (кнопка)
=============*/
.q {
	margin-left:15px;
	margin-right:15px;
	margin-top:10px;
	padding: 8px 8px 8px 8px;
	border: #999 1px dotted;
	background: #718c00;
}


/* Код (кнопка)
===========*/
.code {
	margin: 5px 5px 5px 5px;
	padding: 10px 10px;
	border: #999 1px dotted;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background: #718c00;
}


/* Стиль ссылок ников над аватаром
==========================*/
a.name {color: #333; text-decoration: none}
a.name:hover {text-decoration: underline}


/* Выпадающее меню смены стиля форума
==============================*/
select,option {
		border: #111 1px solid;
		background:#586f00;
		color: #fff;
		font-size: 12px;
}


/* Оформление форм и полей ввода текста
==============================*/
form {margin:0px;}

textarea,input {
	color: #ccc;
	font-size:12px;
	width:100%;
	height:19px;
	border:1px solid #222;
	background: #586f00;
	font-family:tahoma;
}
input.button {
	width: 30px;
	height: 22px;
	cursor: pointer;
	background: #586f00;
	color: #ccc;
	border-radius: 3px;
	border: 1px solid #222;
	box-shadow: 0 2px #111;
	letter-spacing: 0px;
	font-size:12px;
	font-family:tahoma; /*Verdana, Arial, Helvetica, sans-serif;*/
	margin: 1px;
	padding:0 0 0 0;
}
input.button:hover {
	background: #186f00;
	box-shadow: 0 1px #111;
}
input.button:active {
	box-shadow: 0 1px #000;
}


/* Элемент формы круглый
===================*/
.radio {
	width:14px;
	height:14px;
	padding:0 0 0 0;
}
.top {
	margin:5;
	padding:0 -5 5 5;
	text-align: bottom;
}


/* Поля ввода ЛОГИН, ПАРОЛЬ и тд
=========================*/

::-webkit-input-placeholder { /* WebKit browsers */
	color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #999;
}

input[name="llen"],
input[type="email"],
input[type="text"],
input[type="password"] {
			height: 28px;
			padding: 2px 3px;
			background: #586f00;
			color: #fff;
			border: 1px solid #333;
			border-radius: 3px;
			box-shadow: none;
			box-sizing: border-box;
}
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,select:focus
			{
				color: #fff;
				border: 1px solid #33C3F0;
				outline: 0;
}


/* Кнопки УДАЛИТЬ и ОТПРАВИТЬ
========================*/
.fbutton {
	height: 28px;
	cursor: pointer;
	width: 90px;
	border: 1px solid #222;
	border-radius: 3px;
	color: #fff;
	background: #886f00;
}
.fbutton:hover  {
	background-color: #086f00;
	box-shadow: 0 0px #222;
	color: #fff;
}


/* Нумерация страниц в темах
=====================*/
a.pagination,
a.pagination:visited,
a.pagination:active {
		padding: 2 5px;
		line-height: 16pt;
		border-radius: 2px;
		border: #586f00 1px solid;
		text-decoration: none;
		color: #000;
		background: #586f00;
}
a.pagination:hover {
		border: #fff 1px solid;
		font-weight: bold;
		color: #000;
		background: #fff;
		border-radius: 2px;
}
.currentpage {
		padding: 2 5px;
		border-radius: 2px;
		border: green 1px solid;
		background: green;
		color: #fff;
		font-weight: bold;
		cursor: default;
}


/* Для сортировки колонок форума
========================*/
table.main thead td {
		cursor:pointer;
		cursor:hand;
		font-weight:bold;
		text-align:center;
		vertical-align:middle
}



/* Окно, которое появляется и исчезает в правом верхнем углу
===========================================*/
#welcome {
		position: fixed;
		_position: absolute;
		top: 0;
		_top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
		left: 74%;
		width: 25%;
		height: auto;
		z-index: 1;
		background-color: #555;
		opacity: 0.9;
		display: none;
		text-align: center;
		text-shadow:1px 1px 0 #000;
		padding: 3px 3px 3px 3px;
		border: #000 1px solid;
}


/* Панель, появляется вверху при нажатии FAQ
=================================*/
#stats {
		position: fixed;
		_position: absolute;
		top: 0px;
		_top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
		left: 0px;
		width: 100%;
		z-index: 1;
		background-color: #555;
		opacity: 1;
		display: none;
		padding: 5px 5px 5px 5px;
		border: #000 1px solid;
}


/* Tooltip Всплывающая подсказка для статуса
==================================*/
.tooltip {
	cursor:help;
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 180px;
	background: rgba(0,0,0,0.8); /*background-color: #555;*/
	color: #ddd;
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	padding: 5px 7;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 165%;
	left: 50%;
	margin-left: -90px;

	opacity: 0;
	transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Tooltip Всплывающая подсказка БАНа и Предупр.
====================================*/
.cont {
	position:relative;
}
.text-block {
	position:absolute;top:0px;right:50px;
}
.holder {
	position:relative;
}
.holder:hover .block {display:block;}

.block {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	padding:5px;
	display:none;
}