
.rgb {
	padding: 0px 0px 1px 0px;
	margin: 0px 0px -8px 0px;
	width:32px;
	white-space:nowrap;
	display:inline-block;
	overflow:hidden
}

.rgb:hover {
	white-space:normal;
	width:175px
}

.media {
	padding: 0px 0px 1px 0px;
	margin: 0px 0px -8px 0px;
	width:52px;
	white-space:nowrap;
	display:inline-block;
	overflow:hidden;
}

.media:hover {
	white-space:normal;
	width:388px
}

.align {
	padding: 0px 0px 1px 0px;
	margin: 0px 0px -8px 0px;
	width:32px;
	white-space:nowrap;
	display:inline-block;
	overflow:hidden
}

.align:hover {
	white-space:normal;
	width:105px
}