.AD {background:url(flags.png) 0px -3px; height:16px; width:19px;}
.AE {background:url(flags.png) -25px -3px; height:16px; width:19px;}
.AF {background:url(flags.png) -50px -3px; height:16px; width:19px;}
.AG {background:url(flags.png) -75px -3px; height:16px; width:19px;}
.AI {background:url(flags.png) -100px -3px; height:16px; width:19px;}
.AL {background:url(flags.png) -125px -3px; height:16px; width:19px;}
.AM {background:url(flags.png) -150px -3px; height:16px; width:19px;}
.AN {background:url(flags.png) -175px -3px; height:16px; width:19px;}
.AO {background:url(flags.png) -200px -3px; height:16px; width:19px;}
.AR {background:url(flags.png) -225px -3px; height:16px; width:19px;}
.AS {background:url(flags.png) 0px -28px; height:16px; width:19px;}
.AT {background:url(flags.png) -25px -28px; height:16px; width:19px;}
.AU {background:url(flags.png) -50px -28px; height:16px; width:19px;}
.AW {background:url(flags.png) -75px -28px; height:16px; width:19px;}
.AX {background:url(flags.png) -100px -28px; height:16px; width:19px;}
.AZ {background:url(flags.png) -125px -28px; height:16px; width:19px;}
.BA {background:url(flags.png) -150px -28px; height:16px; width:19px;}
.BB {background:url(flags.png) -175px -28px; height:16px; width:19px;}
.BD {background:url(flags.png) -200px -28px; height:16px; width:19px;}
.BE {background:url(flags.png) -225px -28px; height:16px; width:19px;}
.BF {background:url(flags.png) 0px -53px; height:16px; width:19px;}
.BG {background:url(flags.png) -25px -53px; height:16px; width:19px;}
.BH {background:url(flags.png) -50px -53px; height:16px; width:19px;}
.BI {background:url(flags.png) -75px -53px; height:16px; width:19px;}
.BJ {background:url(flags.png) -100px -53px; height:16px; width:19px;}
.BM {background:url(flags.png) -125px -53px; height:16px; width:19px;}
.BN {background:url(flags.png) -150px -53px; height:16px; width:19px;}
.BO {background:url(flags.png) -175px -53px; height:16px; width:19px;}
.BR {background:url(flags.png) -200px -53px; height:16px; width:19px;}
.BS {background:url(flags.png) -225px -53px; height:16px; width:19px;}
.BT {background:url(flags.png) 0px -78px; height:16px; width:19px;}
.BV {background:url(flags.png) -25px -78px; height:16px; width:19px;}
.BW {background:url(flags.png) -50px -78px; height:16px; width:19px;}
.BY {background:url(flags.png) -75px -78px; height:16px; width:18px;}
.BZ {background:url(flags.png) -100px -78px; height:16px; width:19px;}
.CA {background:url(flags.png) -125px -78px; height:16px; width:19px;}
.CC {background:url(flags.png) -150px -78px; height:16px; width:19px;}
.CD {background:url(flags.png) -175px -78px; height:16px; width:19px;}
.CF {background:url(flags.png) -200px -78px; height:16px; width:19px;}
.CG {background:url(flags.png) -225px -78px; height:16px; width:19px;}
.CH {background:url(flags.png) 0px -103px; height:16px; width:19px;}
.CI {background:url(flags.png) -25px -103px; height:16px; width:19px;}
.CK {background:url(flags.png) -50px -103px; height:16px; width:19px;}
.CL {background:url(flags.png) -75px -103px; height:16px; width:19px;}
.CM {background:url(flags.png) -100px -103px; height:16px; width:19px;}
.CN {background:url(flags.png) -125px -103px; height:16px; width:19px;}
.CO {background:url(flags.png) -150px -103px; height:16px; width:19px;}
.CR {background:url(flags.png) -175px -103px; height:16px; width:19px;}
.CS {background:url(flags.png) -200px -103px; height:16px; width:19px;}
.CU {background:url(flags.png) -225px -103px; height:16px; width:19px;}
.CV {background:url(flags.png) 0px -128px; height:16px; width:19px;}
.CX {background:url(flags.png) -25px -128px; height:16px; width:19px;}
.CY {background:url(flags.png) -50px -128px; height:16px; width:19px;}
.CZ {background:url(flags.png) -75px -128px; height:16px; width:19px;}
.DE {background:url(flags.png) -100px -128px; height:16px; width:19px;}
.DJ {background:url(flags.png) -125px -128px; height:16px; width:19px;}
.DK {background:url(flags.png) -150px -128px; height:16px; width:19px;}
.DM {background:url(flags.png) -175px -128px; height:16px; width:19px;}
.DO {background:url(flags.png) -200px -128px; height:16px; width:19px;}
.DZ {background:url(flags.png) -225px -128px; height:16px; width:19px;}
.EC {background:url(flags.png) 0px -153px; height:16px; width:19px;}
.EE {background:url(flags.png) -25px -153px; height:16px; width:19px;}
.EG {background:url(flags.png) -50px -153px; height:16px; width:19px;}
.EH {background:url(flags.png) -75px -153px; height:16px; width:19px;}
.ER {background:url(flags.png) -100px -153px; height:16px; width:19px;}
.ES {background:url(flags.png) -125px -153px; height:16px; width:19px;}
.ET {background:url(flags.png) -150px -153px; height:16px; width:19px;}
.EU {background:url(flags.png) -175px -153px; height:16px; width:19px;}
.FI {background:url(flags.png) -200px -153px; height:16px; width:19px;}
.FJ {background:url(flags.png) -225px -153px; height:16px; width:19px;}
.FK {background:url(flags.png) 0px -178px; height:16px; width:19px;}
.FM {background:url(flags.png) -25px -178px; height:16px; width:19px;}
.FO {background:url(flags.png) -50px -178px; height:16px; width:19px;}
.FR {background:url(flags.png) -75px -178px; height:16px; width:19px;}
.GA {background:url(flags.png) -100px -178px; height:16px; width:19px;}
.GB {background:url(flags.png) -125px -178px; height:16px; width:19px;}
.GD {background:url(flags.png) -150px -178px; height:16px; width:19px;}
.GE {background:url(flags.png) -175px -178px; height:16px; width:19px;}
.GF {background:url(flags.png) -200px -178px; height:16px; width:19px;}
.GH {background:url(flags.png) -225px -178px; height:16px; width:19px;}
.GI {background:url(flags.png) 0px -203px; height:16px; width:19px;}
.GL {background:url(flags.png) -25px -203px; height:16px; width:19px;}
.GM {background:url(flags.png) -50px -203px; height:16px; width:19px;}
.GN {background:url(flags.png) -75px -203px; height:16px; width:19px;}
.GP {background:url(flags.png) -100px -203px; height:16px; width:19px;}
.GQ {background:url(flags.png) -125px -203px; height:16px; width:19px;}
.GR {background:url(flags.png) -150px -203px; height:16px; width:19px;}
.GS {background:url(flags.png) -175px -203px; height:16px; width:19px;}
.GT {background:url(flags.png) -200px -203px; height:16px; width:19px;}
.GU {background:url(flags.png) -225px -203px; height:16px; width:19px;}
.GW {background:url(flags.png) 0px -228px; height:16px; width:19px;}
.GY {background:url(flags.png) -25px -228px; height:16px; width:19px;}
.HK {background:url(flags.png) -50px -228px; height:16px; width:19px;}
.HM {background:url(flags.png) -75px -228px; height:16px; width:19px;}
.HN {background:url(flags.png) -100px -228px; height:16px; width:19px;}
.HR {background:url(flags.png) -125px -228px; height:16px; width:19px;}
.HT {background:url(flags.png) -150px -228px; height:16px; width:19px;}
.HU {background:url(flags.png) -175px -228px; height:16px; width:19px;}
.ID {background:url(flags.png) -200px -228px; height:16px; width:19px;}
.IE {background:url(flags.png) -225px -228px; height:16px; width:19px;}
.IL {background:url(flags.png) 0px -253px; height:16px; width:19px;}
.IN {background:url(flags.png) -25px -253px; height:16px; width:19px;}
.IO {background:url(flags.png) -50px -253px; height:16px; width:19px;}
.IQ {background:url(flags.png) -75px -253px; height:16px; width:19px;}
.IR {background:url(flags.png) -100px -253px; height:16px; width:19px;}
.IS {background:url(flags.png) -125px -253px; height:16px; width:19px;}
.IT {background:url(flags.png) -150px -253px; height:16px; width:19px;}
.JM {background:url(flags.png) -175px -253px; height:16px; width:19px;}
.JO {background:url(flags.png) -200px -253px; height:16px; width:19px;}
.JP {background:url(flags.png) -225px -253px; height:16px; width:19px;}
.KE {background:url(flags.png) 0px -278px; height:16px; width:19px;}
.KG {background:url(flags.png) -25px -278px; height:16px; width:19px;}
.KH {background:url(flags.png) -50px -278px; height:16px; width:19px;}
.KI {background:url(flags.png) -75px -278px; height:16px; width:19px;}
.KM {background:url(flags.png) -100px -278px; height:16px; width:19px;}
.KN {background:url(flags.png) -125px -278px; height:16px; width:19px;}
.KP {background:url(flags.png) -150px -278px; height:16px; width:19px;}
.KR {background:url(flags.png) -175px -278px; height:16px; width:19px;}
.KW {background:url(flags.png) -200px -278px; height:16px; width:19px;}
.KY {background:url(flags.png) -225px -278px; height:16px; width:19px;}
.KZ {background:url(flags.png) 0px -303px; height:16px; width:19px;}
.LA {background:url(flags.png) -25px -303px; height:16px; width:19px;}
.LB {background:url(flags.png) -50px -303px; height:16px; width:19px;}
.LC {background:url(flags.png) -75px -303px; height:16px; width:19px;}
.LI {background:url(flags.png) -100px -303px; height:16px; width:19px;}
.LK {background:url(flags.png) -125px -303px; height:16px; width:19px;}
.LR {background:url(flags.png) -150px -303px; height:16px; width:19px;}
.LS {background:url(flags.png) -175px -303px; height:16px; width:19px;}
.LT {background:url(flags.png) -200px -303px; height:16px; width:19px;}
.LU {background:url(flags.png) -225px -303px; height:16px; width:19px;}
.LV {background:url(flags.png) 0px -328px; height:16px; width:19px;}
.LY {background:url(flags.png) -25px -328px; height:16px; width:19px;}
.MA {background:url(flags.png) -50px -328px; height:16px; width:19px;}
.MC {background:url(flags.png) -75px -328px; height:16px; width:19px;}
.MD {background:url(flags.png) -100px -328px; height:16px; width:19px;}
.ME {background:url(flags.png) -125px -328px; height:16px; width:19px;}
.MG {background:url(flags.png) -150px -328px; height:16px; width:19px;}
.MH {background:url(flags.png) -175px -328px; height:16px; width:19px;}
.MK {background:url(flags.png) -200px -328px; height:16px; width:19px;}
.ML {background:url(flags.png) -225px -328px; height:16px; width:19px;}
.MM {background:url(flags.png) 0px -353px; height:16px; width:19px;}
.MN {background:url(flags.png) -25px -353px; height:16px; width:19px;}
.MO {background:url(flags.png) -50px -353px; height:16px; width:19px;}
.MP {background:url(flags.png) -75px -353px; height:16px; width:19px;}
.MQ {background:url(flags.png) -100px -353px; height:16px; width:19px;}
.MR {background:url(flags.png) -125px -353px; height:16px; width:19px;}
.MS {background:url(flags.png) -150px -353px; height:16px; width:19px;}
.MT {background:url(flags.png) -175px -353px; height:16px; width:19px;}
.MU {background:url(flags.png) -200px -353px; height:16px; width:19px;}
.MV {background:url(flags.png) -225px -353px; height:16px; width:19px;}
.MW {background:url(flags.png) 0px -378px; height:16px; width:19px;}
.MX {background:url(flags.png) -25px -378px; height:16px; width:19px;}
.MY {background:url(flags.png) -50px -378px; height:16px; width:19px;}
.MZ {background:url(flags.png) -75px -378px; height:16px; width:19px;}
.NA {background:url(flags.png) -100px -378px; height:16px; width:19px;}
.NC {background:url(flags.png) -125px -378px; height:16px; width:19px;}
.NE {background:url(flags.png) -150px -378px; height:16px; width:19px;}
.NF {background:url(flags.png) -175px -378px; height:16px; width:19px;}
.NG {background:url(flags.png) -200px -378px; height:16px; width:19px;}
.NI {background:url(flags.png) -225px -378px; height:16px; width:19px;}
.NL {background:url(flags.png) 0px -403px; height:16px; width:19px;}
.NO {background:url(flags.png) -25px -403px; height:16px; width:19px;}
.NP {background:url(flags.png) -50px -403px; height:16px; width:19px;}
.NR {background:url(flags.png) -75px -403px; height:16px; width:19px;}
.NU {background:url(flags.png) -100px -403px; height:16px; width:19px;}
.NZ {background:url(flags.png) -125px -403px; height:16px; width:19px;}
.OM {background:url(flags.png) -150px -403px; height:16px; width:19px;}
.PA {background:url(flags.png) -175px -403px; height:16px; width:19px;}
.PE {background:url(flags.png) -200px -403px; height:16px; width:19px;}
.PF {background:url(flags.png) -225px -403px; height:16px; width:19px;}
.PG {background:url(flags.png) 0px -428px; height:16px; width:19px;}
.PH {background:url(flags.png) -25px -428px; height:16px; width:19px;}
.PK {background:url(flags.png) -50px -428px; height:16px; width:19px;}
.PL {background:url(flags.png) -75px -428px; height:16px; width:19px;}
.PM {background:url(flags.png) -100px -428px; height:16px; width:19px;}
.PN {background:url(flags.png) -125px -428px; height:16px; width:19px;}
.PR {background:url(flags.png) -150px -428px; height:16px; width:19px;}
.PS {background:url(flags.png) -175px -428px; height:16px; width:19px;}
.PT {background:url(flags.png) -200px -428px; height:16px; width:19px;}
.PW {background:url(flags.png) -225px -428px; height:16px; width:19px;}
.PY {background:url(flags.png) 0px -453px; height:16px; width:19px;}
.QA {background:url(flags.png) -25px -453px; height:16px; width:19px;}
.RE {background:url(flags.png) -50px -453px; height:16px; width:19px;}
.RO {background:url(flags.png) -75px -453px; height:16px; width:19px;}
.RS {background:url(flags.png) -100px -453px; height:16px; width:19px;}
.RU {background:url(flags.png) -125px -453px; height:16px; width:19px;}
.RW {background:url(flags.png) -150px -453px; height:16px; width:19px;}
.SA {background:url(flags.png) -175px -453px; height:16px; width:19px;}
.SB {background:url(flags.png) -200px -453px; height:16px; width:19px;}
.SC {background:url(flags.png) -225px -453px; height:16px; width:19px;}
.SD {background:url(flags.png) 0px -478px; height:16px; width:19px;}
.SE {background:url(flags.png) -25px -478px; height:16px; width:19px;}
.SG {background:url(flags.png) -50px -478px; height:16px; width:19px;}
.SH {background:url(flags.png) -75px -478px; height:16px; width:19px;}
.SI {background:url(flags.png) -100px -478px; height:16px; width:19px;}
.SJ {background:url(flags.png) -125px -478px; height:16px; width:19px;}
.SK {background:url(flags.png) -150px -478px; height:16px; width:19px;}
.SL {background:url(flags.png) -175px -478px; height:16px; width:19px;}
.SM {background:url(flags.png) -200px -478px; height:16px; width:19px;}
.SN {background:url(flags.png) -225px -478px; height:16px; width:19px;}
.SO {background:url(flags.png) 0px -503px; height:16px; width:19px;}
.SR {background:url(flags.png) -25px -503px; height:16px; width:19px;}
.ST {background:url(flags.png) -50px -503px; height:16px; width:19px;}
.SV {background:url(flags.png) -75px -503px; height:16px; width:19px;}
.SY {background:url(flags.png) -100px -503px; height:16px; width:19px;}
.SZ {background:url(flags.png) -125px -503px; height:16px; width:19px;}
.TC {background:url(flags.png) -150px -503px; height:16px; width:19px;}
.TD {background:url(flags.png) -175px -503px; height:16px; width:19px;}
.TF {background:url(flags.png) -200px -503px; height:16px; width:19px;}
.TG {background:url(flags.png) -225px -503px; height:16px; width:19px;}
.TH {background:url(flags.png) 0px -528px; height:16px; width:19px;}
.TJ {background:url(flags.png) -25px -528px; height:16px; width:19px;}
.TK {background:url(flags.png) -50px -528px; height:16px; width:19px;}
.TL {background:url(flags.png) -75px -528px; height:16px; width:19px;}
.TM {background:url(flags.png) -100px -528px; height:16px; width:19px;}
.TN {background:url(flags.png) -125px -528px; height:16px; width:19px;}
.TO {background:url(flags.png) -150px -528px; height:16px; width:19px;}
.TR {background:url(flags.png) -175px -528px; height:16px; width:19px;}
.TT {background:url(flags.png) -200px -528px; height:16px; width:19px;}
.TV {background:url(flags.png) -225px -528px; height:16px; width:19px;}
.TW {background:url(flags.png) 0px -553px; height:16px; width:19px;}
.TZ {background:url(flags.png) -25px -553px; height:16px; width:19px;}
.UA {background:url(flags.png) -50px -553px; height:16px; width:19px;}
.UG {background:url(flags.png) -75px -553px; height:16px; width:19px;}
.UM {background:url(flags.png) -100px -553px; height:16px; width:19px;}
.US {background:url(flags.png) -125px -553px; height:16px; width:19px;}
.UY {background:url(flags.png) -150px -553px; height:16px; width:19px;}
.UZ {background:url(flags.png) -175px -553px; height:16px; width:19px;}
.VA {background:url(flags.png) -200px -553px; height:16px; width:19px;}
.VC {background:url(flags.png) -225px -553px; height:16px; width:19px;}
.VE {background:url(flags.png) 0px -578px; height:16px; width:19px;}
.VG {background:url(flags.png) -25px -578px; height:16px; width:19px;}
.VI {background:url(flags.png) -50px -578px; height:16px; width:19px;}
.VN {background:url(flags.png) -75px -578px; height:16px; width:19px;}
.VU {background:url(flags.png) -100px -578px; height:16px; width:19px;}
.WF {background:url(flags.png) -125px -578px; height:16px; width:19px;}
.WS {background:url(flags.png) -150px -578px; height:16px; width:19px;}
.YE {background:url(flags.png) -175px -578px; height:16px; width:19px;}
.YT {background:url(flags.png) -200px -578px; height:16px; width:19px;}
.ZA {background:url(flags.png) -225px -578px; height:16px; width:19px;}
.ZM {background:url(flags.png) 0px -603px; height:16px; width:19px;}
.ZW {background:url(flags.png) -25px -603px; height:16px; width:19px;}
.CATALONIA {background:url(flags.png) -50px -603px; height:16px; width:19px;}
.ENGLAND {background:url(flags.png) -75px -603px; height:16px; width:19px;}
.SCOTLAND {background:url(flags.png) -100px -603px; height:16px; width:19px;}
.WALES {background:url(flags.png) -125px -603px; height:16px; width:19px;}